

*{
    font-family: 'Italiana', serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
/*Scrollbar*/
::-webkit-scrollbar
{
  width: 15px;
}
::-webkit-scrollbar-track
{
  background: #F4F4F4;
}
::-webkit-scrollbar-thumb
{
  background: #C9BEB9;
  border-radius: 10px;
}
.container{
   /* background:linear-gradient(45deg, blueviolet, lightgreen);*/
    background: #1a1a1a;
    padding:15px 9%;
    padding-bottom: 100px;
}

.container .heading{
    text-align: center;
    padding-bottom: 15px;
    color:#fff;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 58px;
    line-height: 1.29;
    font-weight: 400;
}

.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:30px;
}

.container .box-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    backdrop-filter: blur(2px);
    text-align: center;
    height: 330px;
    width: 100%;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.container .box-container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#close{
    display: block;
    position: absolute;
    right: 5vw;
    top: 5vh;
    font-size: 35px;
    cursor: pointer;
    color: #fff;
    border: none;
    background: 0 0;
    z-index: 2;
}
 
.container .box-container .box h3{
    color:white;
    font-size: 30px;
    font-weight: 400;
    padding:10px 0;
    position: relative;
    top: -200px;
    transition: transform 0.5s;
}
.box:hover h3 {
    transform: translateY(-50%);
  }






@media (max-width:768px){
    .container{
        padding:20px;
    }
}



  
.container .box-container .box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: rgba(0, 0, 0, 0.9);
    transition: opacity 0.5s;
  }
  
 
  .container .box-container .box:hover::before {
    opacity: 2;
  }
  
  